<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletControlador</servlet-name>
        <servlet-class>controlador.ServletControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPoliza</servlet-name>
        <servlet-class>controlador.ServletPoliza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSession</servlet-name>
        <servlet-class>controlador.ServletSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIntegral</servlet-name>
        <servlet-class>reportes.ServletIntegral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>controlador.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBalance</servlet-name>
        <servlet-class>reportes.ServletBalance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletControlador</servlet-name>
        <url-pattern>/aplicacion/cuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPoliza</servlet-name>
        <url-pattern>/poliza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSession</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIntegral</servlet-name>
        <url-pattern>/resultadoIntegral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBalance</servlet-name>
        <url-pattern>/balanceGeneral</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
