<%@page contentType="text/html" pageEncoding="UTF-8"%>
            <ul class="nav nav-pills">
                <li class="active"><a href="#circulante" data-toggle="tab">Circulante</a></li>
                <li><a href="#fijo" data-toggle="tab">Fijo</a></li>
                <li><a href="#intangible" data-toggle="tab">Intangible</a></li>
                <li><a href="#otros" data-toggle="tab">Otros</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="circulante">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center"><p class="lead">Cuentas de Activo Circulante</p></th> 
                        </tr>
                        <tr>
                            <th><p>Cuenta</p></th>
                            <th><p>Descripción</p></th>
                            <th><p>Saldos</p></th>
                        </tr>
                        </thead>
                        <tbody>
                            <%  
                            while (it.hasNext()) {
                            Cuenta c = (Cuenta) it.next().getValue();
                            if(c.getIdCuenta() < 1200 && c.getIdCuenta() >= 1100){
                            %>
                            <tr>
                                <th><p><%= c.getIdCuenta() %></p></th>
                                <th><p><%= c.getDescripcionCuenta()%></p></th>
                                <th><p>$<%= df.format(c.getSaldoTotal()) %></p></th>
                            </tr>
                            <% if(c.getSubcuentas().size() > 0){ %>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <table class="table table-striped table-hover">
                                        <%
                                            ArrayList<SubCuenta> items = c.getSubcuentas();
                                            for(SubCuenta item:items){
                                        %>
                                        <tr>
                                            <th>
                                                <%= item.getIdSubCuenta() %>
                                            </th>
                                            <th>
                                                <%= item.getDescripcion() %>
                                            </th>
                                            <th>
                                               $<%= df.format(item.getSaldoSub()) %>
                                            </th>
                                        </tr>
                                        <% } %>
                                    </table>
                                </td>
                            </tr>
                        <%
                        }
                        }
                        }
                        %>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="fijo">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center"><p class="lead">Cuentas de activo fijo (inmuebles, planta y equipo)</p></th> 
                            </tr>
                            <tr>
                                <th><p>Cuenta</p></th>
                                <th><p>Descripción</p></th>
                                <th><p>Saldos</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%  
                            while (it.hasNext()) {
                            Cuenta c = (Cuenta) it.next().getValue();
                            if(c.getIdCuenta() < 1300 && c.getIdCuenta() >= 1200){
                            %>
                            <tr>
                                <th><p><%= c.getIdCuenta() %></p></th>
                                <th><p><%= c.getDescripcionCuenta()%></p></th>
                                <th><p>$<%= df.format(c.getSaldoTotal()) %></p></th>
                            </tr>
                            <% if(c.getSubcuentas().size() > 0){ %>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <table class="table table-striped table-hover">
                                        <%
                                            ArrayList<SubCuenta> items = c.getSubcuentas();
                                            for(SubCuenta item:items){
                                        %>
                                        <tr>
                                            <th>
                                                <%= item.getIdSubCuenta() %>
                                            </th>
                                            <th>
                                                <%= item.getDescripcion() %>
                                            </th>
                                            <th>
                                               $<%= df.format(item.getSaldoSub()) %>
                                            </th>
                                        </tr>
                                        <% } %>
                                    </table>
                                </td>
                            </tr>
                        <%
                        }
                        }
                        }
                        %>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="intangible">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center"><p class="lead">Cuentas de activo Intangible</p></th> 
                            </tr>
                            <tr>
                                <th><p>Cuenta</p></th>
                                <th><p>Descripción</p></th>
                                <th><p>Saldos</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%  
                            while (it.hasNext()) {
                            Cuenta c = (Cuenta) it.next().getValue();
                            if(c.getIdCuenta() < 1400 && c.getIdCuenta() >= 1300){
                            %>
                            <tr>
                                <th><p><%= c.getIdCuenta() %></p></th>
                                <th><p><%= c.getDescripcionCuenta()%></p></th>
                                <th><p>$<%= df.format(c.getSaldoTotal()) %></p></th>
                            </tr>
                            <% if(c.getSubcuentas().size() > 0){ %>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <table class="table table-striped table-hover">
                                        <%
                                            ArrayList<SubCuenta> items = c.getSubcuentas();
                                            for(SubCuenta item:items){
                                        %>
                                        <tr>
                                            <th>
                                                <%= item.getIdSubCuenta() %>
                                            </th>
                                            <th>
                                                <%= item.getDescripcion() %>
                                            </th>
                                            <th>
                                               $<%= df.format(item.getSaldoSub()) %>
                                            </th>
                                        </tr>
                                        <% } %>
                                    </table>
                                </td>
                            </tr>
                        <%
                        }
                        }
                        }
                        %>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="otros">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center"><p class="lead">Otros activos</p></th> 
                            </tr>
                            <tr>
                                <th><p>Cuenta</p></th>
                                <th><p>Descripción</p></th>
                                <th><p>Saldos</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%  
                            while (it.hasNext()) {
                            Cuenta c = (Cuenta) it.next().getValue();
                            if(c.getIdCuenta() < 1404 && c.getIdCuenta() >= 1400){
                            %>
                            <tr>
                                <th><p><%= c.getIdCuenta() %></p></th>
                                <th><p><%= c.getDescripcionCuenta()%></p></th>
                                <th><p>$<%= df.format(c.getSaldoTotal()) %></p></th>
                            </tr>
                            <% if(c.getSubcuentas().size() > 0){ %>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <table class="table table-striped table-hover">
                                        <%
                                            ArrayList<SubCuenta> items = c.getSubcuentas();
                                            for(SubCuenta item:items){
                                        %>
                                        <tr>
                                            <th>
                                                <%= item.getIdSubCuenta() %>
                                            </th>
                                            <th>
                                                <%= item.getDescripcion() %>
                                            </th>
                                            <th>
                                               $<%= df.format(item.getSaldoSub()) %>
                                            </th>
                                        </tr>
                                        <% } %>
                                    </table>
                                </td>
                            </tr>
                        <%
                        }
                        }
                        }
                        %>
                        </tbody>
                    </table>
                </div>
            </div>