<%@page contentType="text/html" pageEncoding="UTF-8"%>
<ul class="nav nav-pills">
    <li class="active"><a href="#contribuido" data-toggle="tab">Contribuido</a></li>
    <li><a href="#ganado" data-toggle="tab">Ganado</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="contribuido">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="3" class="text-center"><p class="lead">Cuentas de Capital Contribuido</p></th> 
            </tr>
            <tr>
                <th><p>Cuenta</p></th>
                <th><p>Descripción</p></th>
                <th><p>Saldos</p></th>
            </tr>
            </thead>
            <tbody>
                <%  
                for(Cuenta c : cuentasList) {
                    if(c.getIdCuenta() < 3105 && c.getIdCuenta() >= 3100){
                %>
                <tr>
                    <th><p><%= c.getIdCuenta() %></p></th>
                    <th><p><%= c.getDescripcionCuenta()%></p></th>
                    <th><p>$<%= df.format(c.getSaldoTotal()) %></p></th>
                </tr>
                <% if(c.getSubcuentas().size() > 0){ %>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <table class="table table-striped table-hover">
                            <%
                            ArrayList<SubCuenta> items = c.getSubcuentas();
                                for(SubCuenta item:items){
                                %>
                                <tr>
                                    <th>
                                        <%= item.getIdSubCuenta() %>
                                    </th>
                                    <th>
                                        <%= item.getDescripcion() %>
                                    </th>
                                    <th>
                                        $<%= df.format(item.getSaldoSub()) %>
                                    </th>
                                </tr>
                                <% } %>
                        </table>
                    </td>
                </tr>
                <%
                }
                }
                }
                %>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="ganado">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="3" class="text-center"><p class="lead">Cuentas de Capital Ganado</p></th> 
            </tr>
            <tr>
                <th><p>Cuenta</p></th>
                <th><p>Descripción</p></th>
                <th><p>Saldos</p></th>
            </tr>
            </thead>
            <tbody>
                <%  
                for(Cuenta c : cuentasList) {
                    if(c.getIdCuenta() < 3206 && c.getIdCuenta() >= 3200){
                %>
                <tr>
                    <th><p><%= c.getIdCuenta() %></p></th>
                    <th><p><%= c.getDescripcionCuenta()%></p></th>
                    <th><p>$<%= df.format(c.getSaldoTotal()) %></p></th>
                </tr>
                <% if(c.getSubcuentas().size() > 0){ %>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <table class="table table-striped table-hover">
                            <%
                            ArrayList<SubCuenta> items = c.getSubcuentas();
                                for(SubCuenta item:items){
                                %>
                                <tr>
                                    <th>
                                        <%= item.getIdSubCuenta() %>
                                    </th>
                                    <th>
                                        <%= item.getDescripcion() %>
                                    </th>
                                    <th>
                                        $<%= df.format(item.getSaldoSub()) %>
                                    </th>
                                </tr>
                                <% } %>
                        </table>
                    </td>
                </tr>
                <%
                }
                }
                }
                %>
            </tbody>
        </table>
    </div> 
</div>