<%@page contentType="text/html" pageEncoding="UTF-8"%>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th colspan="3" class="text-center"><p class="lead">Cuentas de Resultados Deudoras</p></th> 
        </tr>
        <tr>
            <th><p>Cuenta</p></th>
            <th><p>Descripción</p></th>
            <th><p>Saldos</p></th>
        </tr>
    </thead>
    <tbody>
        <%  
        for(Cuenta c : cuentasList) {
            if(c.getIdCuenta() < 5105 && c.getIdCuenta() >= 5100){
        %>
        <tr>
            <th><p><%= c.getIdCuenta() %></p></th>
            <th><p><%= c.getDescripcionCuenta()%></p></th>
            <th><p>$<%= df.format(c.getSaldoTotal()) %></p></th>
        </tr>
        <% if(c.getSubcuentas().size() > 0){ %>
        <tr>
            <td></td>
            <td colspan="2">
                <table class="table table-striped table-hover">
                    <%
                    ArrayList<SubCuenta> items = c.getSubcuentas();
                        for(SubCuenta item:items){
                        %>
                        <tr>
                            <th>
                                <%= item.getIdSubCuenta() %>
                            </th>
                            <th>
                                <%= item.getDescripcion() %>
                            </th>
                            <th>
                                $<%= df.format(item.getSaldoSub()) %>
                            </th>
                        </tr>
                        <% } %>
                </table>
            </td>
        </tr>
        <%
        }
        }
        }
        %>
    </tbody>
</table>